PORT=your server port
MONGODB_URI=<MONGODB_URI>
JWT_SECRET=
JWT_EXPIRATION=1h
NODE_ENV=development
CLIENT_URL=your client url
SERVER_URL=your server url
PAYMENT_STORE_ID=sslcommerz store id
PAYMENT_STORE_PASSWORD=sslcommerz password
BCRYPT_SALT_ROUNDS=8